{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %}
<h1>User List:</h1>
<br />

<table class="table table-dark table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for our_user in our_users %}
        <tr>
            <th scope="row">{{our_user.id}}</th>
            <td><a href="{{ url_for('update', id=our_user.id) }}">{{our_user.name}}</a></td>
            <td>{{our_user.email}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% else %}
<h1>User List:</h1>
<br />
<div class="shadow p-3 mb-5 bg-body-tertiary rounded bg-dark">
    <form method="post">
        {{form.hidden_tag()}}
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control")}}
        <br />
        {{form.submit(class="btn btn-outline-success")}}
    </form>
</div>
<br/><br/>

<table class="table table-dark table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for our_user in our_users %}
        <tr>
            <th scope="row">{{our_user.id}}</th>
            <td><a href="{{ url_for('update', id=our_user.id) }}">{{our_user.name}}</a></td>
            <td>{{our_user.email}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endif %}

{% endblock %}